@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  background-image: url('https://i.pinimg.com/originals/96/c0/09/96c00935463fc1a47223cae910762a84.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  height: 100vh;
}
